.App {
  text-align: center;
}

.App-logo {
  width: 44vw;
  pointer-events: none;
  margin-bottom: 6vh;
}

.App-description {
  width: 28vw;
  pointer-events: none;
  margin-bottom: 4vh;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-bottom {
  position: absolute;
  /* bottom: 0vh; */
  top: 100vh;
  right: 0vh;
  left: 0vh;
  color: gray;
}

a {
  text-decoration: none; /* 去除默认的下划线 */
  outline: none; /* 去除旧版浏览器的点击后的外虚线框 */
  color: gray; /* 去除默认的颜色和点击后变化的颜色 */
}
